@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Shopping Page</h1>
    <p>Welcome to the Shopping Page. it will be the base to configurate another Web pages.</a>.</p>
</div>
